.carouselItem {
  background-color: rgba(217, 217, 217, 1);
  box-shadow: 0px 0px px rgba(0, 0, 0, 1);
  border-radius: 100px;
  display: flex;
  position: relative;
  isolation: isolate;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 20px;
  box-sizing: border-box;
  height: auto;
  width: fit-content;
  margin-right: 26px;
}

.carouselItem:hover{
  background-color: rgb(167, 167, 167);
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 1);
  border-radius: 100px;
  display: flex;
  position: relative;
  isolation: isolate;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 20px;
  box-sizing: border-box;
  height: auto;
  width: fit-content;
  margin-right: 26px;
}

.carouselItemContents {
  border-radius: 100px;
  display: flex;
  position: relative;
  isolation: isolate;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}

.leftSide {
  border-radius: 0px;
  display: flex;
  position: relative;
  isolation: isolate;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  box-sizing: border-box;
  align-self: stretch;
  margin: 0px;
}

.rank {
  text-align: center;
  white-space: pre-wrap;
  font-synthesis: none;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: 'Avenir Next LT Pro Bold';
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  text-decoration: none;
  line-height: 100%;
  text-transform: none;
  margin: 0px;
}

.separator {
  background-color: rgba(63, 63, 63, 1);
  border-radius: 0px;
  align-self: stretch;
  width: 0.71px;
  margin: 0px 0px 0px 15px;
}

.rightSide {
  border-radius: 0px;
  display: flex;
  position: relative;
  isolation: isolate;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  box-sizing: border-box;
  margin: 0px 0px 0px 15px;
}

.carouselProjectImage {
  height: 35px;
  width: 35px;
  object-fit: cover;
  margin: 0px;
  border-radius: 50%;
}

.carouselProjectInfo {
  border-radius: 0px;
  display: flex;
  position: relative;
  isolation: isolate;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 8px 0px 0px;
  box-sizing: border-box;
  margin: 0px 0px 0px 9px;
}
.carouselProjectTicker {
  text-align: center;
  white-space: pre-wrap;
  font-synthesis: none;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: 'Avenir Next LT Pro Bold';
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  text-decoration: none;
  line-height: 100%;
  text-transform: none;
  margin: 0px;
}

.carouselProjectTitle {
  text-align: left;
  white-space: pre-wrap;
  font-synthesis: none;
  color: rgba(91, 91, 91, 1);
  font-style: normal;
  font-family: 'Avenir Next LT Pro Bold';
  font-weight: 700;
  font-size: 9px;
  letter-spacing: 0.09px;
  text-decoration: none;
  line-height: 125%;
  text-transform: none;
  margin: 0px;
}