.carousel {
  background-color: rgba(67, 67, 67, 1);
  border-radius: 0px;
  display: flex;
  position: relative;
  isolation: isolate;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
  margin:0;
  padding-top:15px;
  padding-bottom:15px;
}

.carousel::-webkit-scrollbar {
    display: none; /* Webkit (Safari, Chrome) */
  }

.slick-slide > div {
  margin: 0;
}