.overall {
  background-color: black;
  width: 100vw; /* 100% of the viewport width */
  height: auto; /* 100% of the viewport height */
  /* Additional styles */
  display: flex; /* Allows the container to use flexbox for inner content */
  flex-direction: column;
  justify-content: center; /* Aligns content horizontally */
  align-items: center; /* Aligns content vertically */
  overflow-y: auto;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}