.navbarSearchResultItem {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: #393939;
  /* box-shadow: none; */
  border: none;
}

.navbarSearchResultItem:hover{
    background-color: #676767;
}

.searchProjectImage {
  height: 35px;
  width: 35px;
  object-fit: cover;
  margin: 0px;
  border-radius: 50%;
}
.searchProjectTitle {
  color: rgb(177, 177, 177);
  font-style: normal;
  font-family: "Avenir Next LT Pro Bold";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2px;
  text-decoration: none;
}
