.navbar {
  background-color: #000000;
  border-radius: 0px;
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 125px;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 69px;
  box-sizing: border-box;
}

.navbarLogo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logoImage {
  height: 51.32px;
  width: 50px;
  object-fit: cover;
  margin: 0px;
}

.logoTitle {
  text-align: left;
  white-space: pre-wrap;
  font-synthesis: none;
  color: #ffffff;
  font-style: normal;
  font-family: "Zilap Orion Futuristic";
  font-weight: 400;
  font-size: 31px;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  margin: 0px 0px 0px 7px;
}

.navbarMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbarMenuItem a {
  text-align: center;
  white-space: pre-wrap;
  font-synthesis: none;
  color: #ffffff;
  font-style: normal;
  font-family: "Avenir Next LT Pro";
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2px;
  text-decoration: none;
  line-height: 125%;
  text-transform: none;
  margin: 0px 0px 0px 47px;
}

.navbarRightSide {
  border-radius: 0px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  flex: 1;
  margin: 0px 80px 0px 47px;
  height: 100%;
  padding-top: 35px;
}

.navbarSearchBarAndResults {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  max-width: 700px;
  min-width: 250px;
  z-index: 1;
  gap: 10px;
}

.navbarSearchBar {
  background-color: #393939;
  border-radius: 10px;
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  /* box-shadow: 0px 1px 4px #ddd; */
  gap: 10px;
}

.searchIcon {
  width: 20px;
  height: 20px;
  margin: 0px;
}

.navbarSearchInput {
  text-align: left;
  white-space: nowrap;
  font-synthesis: none;
  background: transparent;
  background-color: transparent;
  border: none;
  color: rgba(139, 139, 139, 1);
  font-style: normal;
  font-family: "Avenir Next LT Pro Regular";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2px;
  text-decoration: none;
  line-height: 125%;
  text-transform: none;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
}

.navbarSearchInput:focus {
  outline: none;
}

.navbarSearchResultList {
  position: absolute;
  top: 45px;

  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  background-color: #393939;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
  /* box-shadow: 0px 4px 4px #ddd; */

  z-index: 2;
  padding-top:10px;
  overflow-x: hidden;
}